*{
  box-sizing: border-box;
}

body{
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: grid;
  grid: 15vh 70vh 15vh/ auto;
  justify-content: center;
  background: linear-gradient(to bottom, #1A5ECB 90%, #fff);
}

h1{
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100vw;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  color: #fff;
}

.container{
  height: auto;
  width: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weatherContainer{
  grid-row: 2/3;
  grid-column: 1/2;
  height: 70vh;
  width: 90vw;
  margin-left: 5vw;
  border: 2px solid #fff;
  border-radius: 50px;
  background-color: rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 40px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 40px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 40px 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s;
}

@media only screen and (orientation: landscape) and (max-width: 900px){
  .weatherContainer{
    position: absolute;
    top: 20vh;
    height: 60vh;
    display: grid;
    grid: auto auto/ auto auto auto;
    transition: 0.5s;
  }

  .city{
    grid-row: 1/2;
    grid-column: 1/4;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 25px;
    transition: 0.5s;
  }

  .temperature{
    grid-row: 2/3;
    grid-column: 1/2;
    transition: 0.5s;
  }

  .weather{
    grid-row: 2/3;
    grid-column: 2/3;
    transition: 0.5s;
  }


  .other{
    grid-row: 2/3;
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    transition: 0.5s;
  }
}





.city{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
  transition: 0.5s;
}

.weather{
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon{
  height: 100px;
  width: 100px;
  opacity: 0;
}

.description{
  width: 100%;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 25px;
  font-weight: 100;
}

.temp{
  width: 100%;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 40px;
  font-weight: 500;
}

.tempBtn{
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
}

.tempBtn:hover{
  position: relative;
  bottom: 2px;
  text-shadow: 0 4px rgba(0,0,0,0.5);
}

.other{
  width: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  transition: 0.5s;
}

@media only screen and (min-height: 500px){
  .other{
    width: auto;
    font-size: 25px;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.5s;
  }

  .humidity{
    margin-left: 5px;
    transition: 0.5s;
  }
}

@media only screen and (orientation: portrait){
  .other{
    font-size: 15px;
    transition: 0.5s;
  }
}

.signature{
  grid-row: 3/4;
  grid-column: 1/2;
  position: absolute;
  bottom: 2px;
  height: auto;
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.portfolioLink{
  background: linear-gradient(to bottom right, #fff, #0A48A9, #fff, #1A5ECB, #fff);
  background-size: 300%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 1px 2px rgba(255,255,255,0.2);
  text-decoration: none;
  display: flex;
  flex-direction: row;
}

.portfolioLink p{
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 20px;
}

.heroLogo{
  font-size: 60px;
}

.portfolioLink:hover{
  text-shadow: 0 0 #fff;
}
.portfolioLink p:hover~.heroLogo{
  text-shadow: 0 0 #fff;
}

.portfolioLink{
  -webkit-animation: backgroundShift 20s ease infinite alternate;
  -moz-animation: backgroundShift 20s ease infinite alternate;
  animation: backgroundShift 20s ease infinite alternate;
}



@-webkit-keyframes backgroundShift {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes  backgroundShift{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes backgroundShift {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
